header{
    background-color: #e5e5e5;
    

}
.batman{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{ 
    width: 100%;
    height: 30px;
    left: 213px;
    top: 203px;
    letter-spacing: 5px;
    word-spacing: 15px;
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 84.69%;
    color: #005677;
    background-color: #c4c4c4;
    text-align: center}

h2{
    

background-color: #c4c4c4;

font-family: "Times New Roman";
font-style: normal;
font-weight: bold;
color: #005677;
font-size: 20px;
line-height: 84.69%;
text-transform: uppercase;

}
.wbullet{
    list-style-type: none;
}
.wbullet li span{
    font-weight: bold;
}
.bullet li span{
    font-style: italic;
    font-weight: bold;
}

footer{

    font-family: "Times New Roman";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 84.69%;
    background-color: #005677;
    color: white;
    text-align: center;
}